<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mark Conference</title>
</head>

<body>
  <header>
    <h1>Leave Your MARK in the Galaxy.</h1>
  </header>
  <canvas id="root"></canvas>
  <footer>
    <div id="logo-area"></div>
    <div id="display-message">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim blanditiis doloremque excepturi soluta sunt libero
      officia minus praesentium architecto ullam minima eveniet inventore velit veniam nostrum quidem officiis, aut
      adipisci! - <span class="name">Alex Rosenkranz</span>
    </div>
  </footer>
</body>

</html>