<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mark Conference</title>
</head>

<body>
  <header>
    <h1>Leave Your <span class='red'>MARK</span> in the Galaxy</h1>
    <h3>Go to markgalaxy.com on your phone</h3>
  </header>
  <canvas id="root"></canvas>
  <footer>
    <div id="logo-area"></div>
    <div id="display-message"></div>
  </footer>
</body>

</html>