<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mark Conference // Leave Your Mark</title>
</head>

<body>
  <div class="flex-column py-3 min-100-vh bg-dark">
    <div class="container my-3" id="logo"></div>
    <div class="container mt-auto" id="app">
      <h1>Leave Your Mark</h1>
      <form id="mark-form">
        <div class="my-3">
          <input type="text" class="form-input" placeholder='Name' name="name">
        </div>
        <div class="my-3">
          <textarea class="form-input" maxlength="140" placeholder="What's your #myMark moment?"
            name="mark-message"></textarea>
        </div>
        <div class="my-3">
          <button class="btn">Join Our Orbit</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>