@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap');

:root {
  --primary: #123859;
  --secondary: #419fd9;
  --tertiary: #03738c;
  --quaternary: #8c7503;
  --quinary: #594b02;
  --light: #ffffff;
  --dark: #272f32;
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: fixed;
  font-size: 1.25vw;
  top: 0;
  z-index: 9999;
  font-weight: 888;
}

footer {
  padding: 20px;
  display: flex;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
}

footer #logo-area {
  flex: 1 1 10%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

footer img {
  width: 100%;
}

footer #display-message {
  flex: 1 1 85%;
  padding: 10px;
  transition: opacity 1s;
  font-size: 1.2rem;
  overflow: hidden;
  line-height: 1.5;
}

.hide {
  opacity: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  z-index: -999;
}
